*{
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
}

h1 {
    margin: 5% 5%;
    font-size: 24px;
    color: #000303;
    font-family: 'Courier New', Courier, monospace;
}
nav{
    background-color: #FDCA40;
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.conteudo {
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    flex-direction: column;
    padding: 10px;
}
.Link_Ythalo{
    text-decoration: none;
    color: blue;
}
.Link_Ythalo:hover{
    color: #00285f83;
}

/* Catalogo Produtos */

section .catalog{
    width: 100vw;
    padding: 100px;
}

.titulo-produto{
    margin-top: 100px;
    padding-bottom: 20px;

}

section .painel-container{
    max-width: 1000px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 30px;
    padding-top: 50px;

}

section .item-produto{
    height: 400px;
    background: #ededed;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

section .texto-butao-produto{
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.item-produto img{
    width: 85%;
}

.item-produto h3{
    width: 90%;
}

.item-produto p{
    width: 90%;
    font-style: italic;
    color: #00000070;
}

.item-produto button{
    width: 90%;
    padding: 15px 0px;
    border: none;
    background: #003459;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 10px;
}

.item-produto button:hover{
    background: #dedede;
    color: blue;
}

/* Rodapé */

footer{
    width: 100%;
    height: 100px;
}

footer .main{
    width: 100%;
    height: 150px;
    background: #F6AA1C;
    padding: 20px 10px;
}

.links-rodape{
    max-width: 100px;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.social-rodape{
    color: white;
    height: 100%;
    min-height: 100px;
}

.main .logos-sociais img{
    width: 48px;
    height: 48px;
}